<launch>
    <node pkg="libmotioncapture" type="mocap_bridge.py" name="mocap_bridge"
        output="screen" respawn="false">
        <param name="hostname" value="127.0.0.1" />
        <param name="type" value="motionanalysis" />
        <param name="topic_name" value="/mavros/vision_pose/pose" />
        <param name="max_radius" value="3.0" />
        <param name="fps" value="50.0" />
    </node>
</launch>
